parallel_OpenMP/
sequential/
parallel_MPI/
.vscode
jobs_test/
parallel_OpenMP/temp_plot.py
sequential/temp_plot.py
parallel_MPI/temp_plot.py
codes_and_jobs/mpi_results
codes_and_jobs/omp_results
codes_and_jobs/seq_results
plots/prova.py
prove/